In [1]:
import pandas as pd
import numpy as np

In [2]:
target = pd.read_csv('target_competencia_ids.csv')

In [3]:
predictions_1 = pd.read_csv('1.csv')
predictions_2 = pd.read_csv('2.csv')
predictions_3 = pd.read_csv('3.csv')

## Promedio las predicciones

In [4]:
pred_1 = pd.merge(predictions_1,predictions_2,on='ref_hash',how='inner')

In [5]:
pred_2 = pd.merge(pred_1,predictions_3,on='ref_hash',how='inner')

In [6]:
pred_2 .head()

                 ref_hash         obj_x      obj_y            obj
0  1000169251625791246_sc  59292.356000  32630.986       0.000000
1  1000169251625791246_st  24562.221903  14093.609  132917.304604
2  1000395625957344683_sc  21566.928000  32630.986  194366.897000
3  1000395625957344683_st  19237.313268  14093.609  101159.196085
4  1003027494996471685_sc  74244.476000  32630.986       0.000000

In [7]:
pred_2['obj_2'] = (pred_2['obj_x'] + pred_2['obj_y'] + pred_2['obj']) / 3

In [8]:
pred_2 = pred_2 [['ref_hash','obj_2']]

In [9]:
pred_2.columns = ['ref_hash','obj']

In [10]:
pred_2.shape

(8074, 2)

In [11]:
pred_2.head()

                 ref_hash           obj
0  1000169251625791246_sc  30641.114000
1  1000169251625791246_st  57191.045169
2  1000395625957344683_sc  82854.937000
3  1000395625957344683_st  44830.039451
4  1003027494996471685_sc  35625.154000

In [18]:
# para guardar predicciones
import time
def _get_filename(my_name, timestamp):
    return "../" + timestamp + " by " + my_name + ".csv"

def _save_description(authors_name, timestamp, submission_description):
    f = open("../" + authors_name + ".txt","a")
    f.write(timestamp + ": " + submission_description + '\n')
    f.close()
    
def save_submission(submission_df, authors_name="fabri", description = "no description"):
    timestamp = time.strftime("%Y.%m.%d - %H:%M:%S")
    submission_df.to_csv(_get_filename(authors_name, timestamp), index=False)
    _save_description(authors_name, timestamp, description)

In [19]:
save_submission(pred_2)